::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  opacity: 0.9;
  background: #A9A9A9;
}

.theme-container .sidebar {
  overflow-y: hidden;
  width: 15rem;
}

.theme-container .sidebar:hover {
  overflow-y: auto;
}

.theme-container .page {
  padding-left: 15rem;
}